<div class="voting-area question-vote">
  <div class="upvote">
    <%= form_for @vote, remote:true do |f| %>
      <%= f.hidden_field(:user_id, value: session[:id] ) %>
      <%= f.hidden_field(:question_id, value: @question.id ) %>
      <%= f.hidden_field(:value, value: 1 ) %>
      <%= link_to_submit do %>
        <i class="fa fa-caret-up fa-4x"></i>
      <% end %>
    <% end %>
  </div>
  <p class="vote-count-question"><%= @votes_count %></p>
  <div class="downvote">
    <%= form_for @vote, remote:true do |f| %>
      <%= f.hidden_field(:user_id, value: session[:id] ) %>
      <%= f.hidden_field(:question_id, value: @question.id ) %>
      <%= f.hidden_field(:value, value: -1 ) %>
      <%= link_to_submit do %>
        <i class="fa fa-caret-down fa-4x"></i>
      <% end %>
    <% end %>
  </div>
</div>