<div class="question <%= 'user-owned' if question.user_id == @user_id %>">
  <%= question.user_id %>
  <%= @user_id %>
  <h3><%= link_to question.title, question_path(question) %></h3>
  <p><%= question.content %></p>
</div>