<div id='nav'><%= link_to "Home", root_path %></div>

<div class='ask_question'>
  <p>What's your question?</p>
  <%= form_for @question do |f| %>
    <%= f.label :title %>:
    <%= f.text_field :title %>
    <%= f.label :content %>:
    <%= f.text_field :content %><br/>
    <%= f.submit %>
  <% end %>
</div>