<h2>Post a Question</h2>

<div class='question'>
  <p>What's your question?</p>
  <%= form_for @question do |f| %>
    <%= f.label :title %>:
    <%= f.text_field :title %>
    <%= f.label :content %>:
    <%= f.text_field :content %><br/>
    <%= f.submit %>
  <% end %>
</div>