<div class="full-question">
  <h2><%= @question.title %></h2>
  <p><%= @question.content %></p>
  <% if session[:id] %>
    <%= form_for @upvote, remote:true do |f| %>
      <%= f.hidden_field(:user_id, value: session[:id] ) %>
      <%= f.hidden_field(:question_id, value: @question.id ) %>
      <%= f.submit %>
    <% end %>
  <% end %>
  <p class="info">Posted by '<%= Faker::Name.first_name %>' (<%= @user.name[0,8] %>) at <%= @question.created_at %></p>
</div>
<% if @logged_in %>
  <div class="answer" id="answer_form">
    <%= form_for @answer, remote: true do |f| %>
      <%= f.text_area(:content, size: "89x5", placeholder: "What's your sketchy answer?") %>
      <%= f.hidden_field(:question_id, value: @question.id ) %>
      <%= f.submit %>
    <% end %>
    <p></p>
  </div>
<% end %>
<div class="answers_list">
  <% @answers.each do |answer| %>
    <%= render 'answers/answer', answer: answer %>
  <% end %>
</div>