<div class="answer">
  <% if answer.best == 1 %>
    <div class="best-answer">
      <h1>Best Answer</h1>
    </div>
  <% end %>
  <div class="answer-content-container">
    <% if session[:id] %>
      <% if !User.find(session[:id]).has_voted_on_answer?(answer) %>
      <div class="voting-area">
        <div class="upvote">
          <%= form_for @vote_answer, remote: true do |f| %>
            <%= f.hidden_field(:user_id, value: session[:id] ) %>
            <%= f.hidden_field(:question_id, value: params[:id] ) %>
            <%= f.hidden_field(:answer_id, value: answer.id ) %>
            <%= f.hidden_field(:value, value: 1 ) %>
            <%= link_to_submit do %>
              <i class="fa fa-caret-up fa-3x"></i>
            <% end %>
          <% end %>
        </div>
        <div class="vote-count"><%= answer.calculate_net_votes %></div>
        <div class="downvote">
          <%= form_for @vote_answer, remote: true do |f| %>
            <%= f.hidden_field(:user_id, value: session[:id] ) %>
            <%= f.hidden_field(:question_id, value: params[:id] ) %>
            <%= f.hidden_field(:answer_id, value: answer.id ) %>
            <%= f.hidden_field(:value, value: -1 ) %>
            <%= link_to_submit do %>
              <i class="fa fa-caret-down fa-3x"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <% else %>
      <div class="voting-area">
        <div class="upvote disabled">
          <i class="fa fa-caret-up fa-3x"></i>
        </div>
        <p class="vote-count-question"><%= @votes_count %></p>
        <div class="downvote disabled">
          <i class="fa fa-caret-down fa-3x"></i>
        </div>
      </div>
      <% end %>
      <% else %>
      <div class="voting-area">
        <div class="upvote disabled">
          <i class="fa fa-caret-up fa-3x"></i>
        </div>
        <p class="vote-count-question"><%= @votes_count %></p>
        <div class="downvote disabled">
          <i class="fa fa-caret-down fa-3x"></i>
        </div>
      </div>
    <% end %>
    <p class="answer-content"><%= answer.content %></p>
  </div>
  <div class="answer-footer">
    <p class="info">Posted by '<%= Faker::Name.first_name %>' at <%= answer.created_at %></p>
    <% if answer.question.user_id == @logged_in_user_id %>
      <%= form_tag( best_answer_path, {remote: true,
       method: "put", class: "best-form"}) do %>
        <%= hidden_field_tag(:answer_id, answer.id ) %>
        <%= submit_tag("Best Answer") %>
      <% end %>
    <% end %>
  </div>
</div>